<div id="header-id">
  <div class="header-logo">
    <!-- <img src="/assets/images/header_logo.png" alt="I lost my logo"> -->
    <a href="#">TRVN</a>
  </div>
  <div class="navigation-bar">
    <div class="active nav-page">
      <a href="#">HOME</a>
    </div>
    <div class="nav-page">
      <a href="#">HELOOO</a>
    </div>
    <div class="nav-page">
      <a href="#">HELLO TIPS</a>
    </div>
    <div class="nav-page">
      <a href="#">CONTACT US</a>
    </div>
  </div>
  <div class="header-settings">
    <button>
      Signout
    </button>
  </div>
</div>
