<div id="header-id">
  <div class="header-bar" [ngClass]="myClass">
    <div class="header-logo">
      <a class="logo" href="#">H</a>
      <a class="company-name" href="#">HUBLOT</a>
    </div>
    <div class="navigation-bar" [ngClass]="">
      <div class="active nav-page">
        <a href="#">NOVELTIES BASELWORLD</a>
      </div>
      <div class="nav-page">
        <a href="#">COLLECTION</a>
      </div>
      <div class="nav-page">
        <a href="#">PARTNERSHIPS</a>
      </div>
      <div class="nav-page">
        <a href="#">CRAFTSMANSHIP</a>
      </div>
      <div class="nav-page">
        <a href="#">BOUTIQUES</a>
      </div>
      <div class="nav-page">
        <a href="#">CONTACT US</a>
      </div>
    </div>
    <div class="header-settings">
      <div class="nav-settings">EN</div>
      <div class="nav-settings">HUBLOTISTA</div>
      <img class="nav-settings search-icon" src="../assets/images/search.svg" alt="I lost my logo">
    </div>
  </div>
</div>
